<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger text-center" role="alert">
                The project isn't finished!
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Time spent</p>
            <ul class="list-group">
                <li class="list-group-item">Preparing environment <span class="badge">2 hours</span></li>
                <li class="list-group-item">Back-end <span class="badge">4 hours</span></li>
                <li class="list-group-item">Front-end <span class="badge">4 hours</span></li>
            </ul>
        </div>
        <div class="col-6">
            <p>Technologies</p>
            <ul class="list-group">
                <li class="list-group-item">Eclipse ~ VSCode ~ Linux</li>
                <li class="list-group-item">Java + Spring boot + ( PostgreSQL + AWS )</li>
                <li class="list-group-item">Angular 10 + Bootstrap 4.1</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <p>Todo list</p>
            <ul class="list-group">
                <li class="list-group-item">Back-end</li>
            </ul>
        </div>
        <div class="col-6">
            <p>&nbsp;</p>
            <ul class="list-group">
                <li class="list-group-item">Unit tests</li>
            </ul>
        </div>
    </div>
</div>