@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr';
// @import '~ngx-toastr/toastr-bs4-alert';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hu3Image{
    float: left;
    width:  100%;
    height: 300px;
    object-fit: cover;
}